.navbar {
	height: 100px;
}
.nav-link {
	font-size: 2rem;
}
.navbar-brand {
	margin-right: 40%;
}
.navbar-nav {
	margin-left: 20%;
}
.nav-link {
	font-size: 1.5rem;
}
@media (max-width: 992px) {
	.nav-link {
		font-size: 1rem;
		font-weight: 700;
	}
}
