.services {
	margin-bottom: 3rem;
}

.services__row {
	display: flex;
}
.services__title {
	text-align: center;
	font-size: 3rem;
}

.services__item-title {
	text-align: center;
	font-size: 2rem;
}

.services__item-content {
	display: flex;
}
.services__item-img,
.services__item-text {
	width: 50%;
	height: 250px;
}
.services__item-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.services__item-text {
	text-align: justify;
	display: flex;
	align-items: center;
	padding: 1rem;
}
.services__item-text p {
	font-size: 1.3rem;
}

@media (max-width: 992px) {
	.services__row {
		display: block;
	}
}
@media (max-width: 992px) {
	.services__item-content {
		display: block;
	}
	.services__item-img {
		width: 50%;
		margin: 0 auto;
	}
	.services__item-text {
		width: 100%;
		height: 150px;
	}
}
